<html>
<body>
    <h2>Here are all the users:</h2>

        <h3>Name: <%= survey.name %></h3>
        <h4>Location: <%= survey.location %></h4>
        <h4>Language: <%= survey.language %></h4>
        <h4>Comments: <%= survey.comments %></h4>
        <hr>

</body>
</html>
